{% extends "base.html" %}
{% block title %}Project {{ project.projectname }}{% endblock %}

{% block content %}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

  <style>
    div.solid {
    border-top:  2px #28a4c9 solid;
    border-left: 2px #28a4c9 solid;
    border-right: 2px #28a4c9 solid;
    border-bottom: 2px #28a4c9 solid;
    background-color: white;
    padding: 10px;}

    body {
        background-image: url(https://image.ibb.co/hLjASv/Sin_t_tulo_3.jpg);
    }

  </style>

<div class="container">

  <div class="solid">
        <div style="background-color:#1b6d85"> <h2 style="color:white">PROJECT {{ project.projectname }} </h2> </div>
  </div>

  <br>

  <div class="solid">
    <strong style="color:#1b6d85">Entrepreneur:</strong> {{ clientproxy.firstname }} {{ clientproxy.lastname }}</p>
    <strong style="color:#1b6d85">Description:</strong><br>{{ project.description }}<br>
    <br>
    <strong style="color:#1b6d85">Funding:</strong> $ {{total}} / {{ project.value }}
  </div>

<br>

    {% if client.usertype == '1' %}
    <div class="solid">
      {% if donations.count > 0 %}
      You have already donated to this project
      {% endif %}
      <p></p>
    <form method="post" action=".">{% csrf_token %}
        <table border="0">
            {{ form.as_table }}
        </table>
        <button class="btn btn-success btn-sm">Partners</button>
    </form>

</div>
  {% endif %}

{% if client.usertype == '2' %}

<input type="button" onclick=" location.href='/partners/show/' " value="Go Back" name="boton" class="btn btn-danger  btn-sm"/>
{% else %}
<br>
<input type="button" onclick=" location.href='/partners/message/{{project.id}}/' " value="Send Message To {{ clientproxy.firstname }} {{ clientproxy.lastname }}" name="boton" class="btn btn-info btn-sm"/>
<input type="button" onclick=" location.href='/partners/home/' " value="Go Back" name="boton" class="btn btn-danger btn-sm"/>
{% endif %}


<br>

</div>
{% endblock %}
