{% extends "base.html" %}
{% block title %}Search projects{% endblock %}

{% block content %}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

<style>
div.solid {
border-top:  2px #28a4c9 solid;
border-left: 2px #28a4c9 solid;
border-right: 2px #28a4c9 solid;
border-bottom: 2px #28a4c9 solid;
background-color: white;
padding: 10px;}

body {
    background-image: url(https://image.ibb.co/hLjASv/Sin_t_tulo_3.jpg);
}

</style>

<div class="container">
  <div class="solid">
        <div style="background-color:#1b6d85"> <h2 style="color:white">SEARCH PROJECTS</h2> </div>
  </div>
  <br>

{% for project in projects %}
<div class="solid">
  <strong style="color:#1b6d85">Project:</strong> <a href="/partners/project/{{project.id}}/">{{ project.projectname }}</a>
  <br><br>
  <strong style="color:#1b6d85">Description:</strong> <br>{{project.description |truncatewords:"10"}}...
  {% for transaction in transactions %}
  {% if transaction.project.projectname == project.projectname %}
  <p>Project already backed: $ {{transaction.ammount}}</p>
  {% endif %}
  {% endfor %}
</div>
<br>
{% endfor %}
<br>
<input type="button" onclick=" location.href='/partners/home/' " value="Go Back" name="boton" class="btn btn-danger  btn-sm"/>

</div>
{% endblock %}
